@mixin flex-container-center-no-resize($height, $bgColor, $fgColor) {
    display: flex;
    flex: 0 0 auto;
    height: $height;
    justify-content: center;
    background-color: $bgColor;
    color: $fgColor;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        @include flex-container-center-no-resize(60px, #15354e, #fff);
        flex-direction: row;

        .logo {
            display: flex;
            flex: 0 0 auto;
            width: 200px;
            height: 100%;
            align-items: center;

            i { font-size: 1.8em !important; }
        }

        .nav {
            display: flex;
            flex: 1 1 auto;
            align-items: center;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                
                a {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #fff;
                    font-size: 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
    
    .body {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        margin-top: 20px;
    }
    
    .footer {
        @include flex-container-center-no-resize(50px, #fff, #333);
        border-top: 1px solid #ddd;
        align-items: center;

        p { 
            color: #999;
        }
    }    
}

.center-content {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 960px;
}

.flex-center {
    justify-content: center;
}