<div class="wrapper">

  <div class="header">
    <div class="center-content">

      <div class="logo">
        <h2><i class="material-icons">place</i>VFR Map</h2>
      </div>

      <div class="nav">
        <ul>
          <li><button mat-stroked-button routerLink='/'>Home</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="body">
      <div class="center-content">
        <router-outlet></router-outlet>
      </div>
  </div>

  <div class="footer">
      <div class="center-content flex-center">
        <p>&copy; GroundSchool NZ 2020</p>
      </div>
  </div>

</div>